
   .btn{
       width:80px;
   }
   .container-fluid{
       /* width:100vh;
    height:100vh;
    

        size: cover;
        background-size: cover;
        opacity: 0.9; */

        background: url(/assets/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        
        
    }
.container h1{
    opacity: 1;
}

body{
    
}
.background{
    background: url(/assets/bg.jpg) no-repeat;
}
mat-card img{
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    
  }